{
  "presets": [
    ["env", {
      "targets": {
        "ie": 11
      },
      "modules": false
    }]
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "production": {
      "ignore": [
        "*.spec.js",
        "_*.js",
        "umd.js"
      ]
    },
    "node": {
      "ignore": [
        "*.spec.js",
        "_*.js",
        "umd.js"
      ],
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
